a:not([role='button']),
[role='link'] {
  border: none;
  text-decoration: underline;
  font-family: serif;
  color: blue;
  background-color: rgb(0, 0, 0, 0);
}
a[role='button']:hover,
button:not([role='link']):hover {
  color: black;
  background-color: white;
}
button {
  font-size: 1.25rem;
}
button:not([role='link']),
[role='button'],
[role='button']:hover {
  border: solid white;
  border-radius: 0.8rem;
  box-shadow: 0 0 0 3px black;
  padding: 0.4rem;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: white;
  background-color: purple;
}
[role='button']:hover {
  cursor: default;
}
[role='link']:hover {
  cursor: pointer;
  background-color: #ccc;
}
