h2 { text-align: center; }
h3 { text-align: center; }
h4.c { text-align: center; }
li { margin: 0 30pt 0 24pt; }
p { text-indent: 24pt; margin: 0pt; }
p.c { text-align: center; }
p.h { margin-left: 24pt; text-indent: -24pt; }
p.l { text-indent: 0pt; }
span.i { margin-left: 1cm; margin-right: 1cm }
td.c { text-align: center; }
table { margin: auto; }
ul { margin: 0; }
@page { size 8.5in 11in; margin: 144pt; }
