@media all {
	body { margin: 24pt; background-color: #e8e8ff; }
}
@media print {
	body { margin: 0; background-color: #e8e8ff; }
}
em { font-weight: bold; color: #cc6600; }
h1 { text-align: center; color: #ff6633; }
h2 { color: #660099; }
h3 { color: #660099; }
h4 { color: #660099; }
input.big { border-style: chiseled; border-width: 3pt; }
p.bq { margin-left: 24pt; }
p.c { text-align: center; }
p.cmt { text-align: center; margin-top: 12pt; }
p.item { margin-left: 24pt; color: #cc6600; font-size: larger; font-weight: bold; }
p.opt { margin-top: 1pt; margin-bottom: 1pt; margin-left: 18pt; text-indent: -18pt; }
p.r { text-align: right; }
p.time { text-align: center; padding: 3pt; background-color: #666666; color: white; font-weight: bold; }
table.box { padding: 3pt; border-style: solid; border-width: medium; border-color: darkgray; }
table.c { margin: auto; }
td.c { text-align: center; }
td.pfx { padding-right: 18pt; }
td.r { text-align: right; }
td.submit { background-color: #6699cc; padding-left: 6pt; padding-right: 6pt; }
@page { size 8.5in 11in; margin: 144pt; }
