a {
  overflow-wrap: break-word;
}
body {
  max-width: 600px;
}
h2 {
  padding-bottom: 0.4rem;
  background-color: #ddd;
}
h3,
h4 {
  margin-bottom: 0;
}
nav {
  margin-top: 1rem;
}
ul {
  margin-top: 0.4rem;
}
