@media print {
	body { orphans: 2; widows: 2; margin: 0pt; }
	h4.c { page-break-before: avoid; }
	p.c { page-break-after: avoid; }
	p.capw { visibility: hidden; }
	p.cw { visibility: hidden; }
}
@ page { @bottom-center { content: counter(page); } }
#:link { color: black; text-decoration: none; }
#:visited { color: black; text-decoration: none; }
body {
	font-size: 12pt; font-family: times; background-color: #ffffff; width: 6.75in; word-wrap: break-word; margin: 24pt;
}
nobody {
	font-size: 12pt; font-family: times; background-color: #ffffff; width: 6.5in; word-wrap: break-word; margin: 0;
}
em { font-weight: bold; color: purple; }
h2 { font-size: 18pt; text-align: center; margin-top: 0; margin-bottom: 0pt; }
h3 {font-size: 16pt; text-align: center; margin-bottom: 6pt; }
h4.c { font-size: 14pt; text-align: center; margin-top: 6pt; margin-bottom: 6pt; }
li { text-align: justify; }
p { text-align: justify; text-indent: 0.25in; margin-top: 0; margin-bottom: 0; }
p.c { text-indent: 0; text-align: center; }
p.cap { text-indent: 0; margin-bottom: 6pt; }
p.capw { text-indent: 0; margin-bottom: 6pt; }
p.cw { text-indent: 0; text-align: center; }
p.h { margin-left: 12pt; text-indent: -12pt; }
p.l { text-indent: 0; }
span.add { font-weight: bold; font-style: italic; color: green; }
span.sub { font-weight: bold; font-style: italic; color: red; text-decoration: line-through; }
table { margin: auto; border-collapse: collapse; }
