@media all {
	body { margin: 24pt; background-color: #eeeedd; }
}
@media print {
	body { margin: 36pt; width: 6.5in; background-color: #ffffff; }
}
h2 { text-align: center; }
h3 { text-align: center; }
h4.c { text-align: center; }
h4.pb { page-break-before: always; }
p.c { text-align: center; }
p.pb { page-break-before: always; }
span.i { margin-left: 1cm; margin-right: 1cm }
td.c { text-align: center; }
tr.pb { page-break-before: always; }
table { margin: auto; }
table.pb { page-break-before: always; }
