@media all {
	body { margin: 24pt; background-color: #eeeedd; }
}
@media print {
	body { margin: 0; background-color: #ffffff; }
}
h2 { text-align: center; margin-top: 0; page-break-after: avoid; }
h3 { text-align: center; page-break-after: avoid; }
h4.c { text-align: center; page-break-after: avoid; }
li { margin: 0 0 0 -9pt; }
ol { line-height: 145%; }
p { line-height: 145%; }
p.c { text-align: center; }
p.cap { margin-top: 18pt; text-align: center; font-weight: bold; }
p.ex { margin-left: 24pt; }
p.fcap { margin-top: 6pt; margin-bottom: 18pt; text-align: center; font-weight: bold; }
p.ol { margin-top: 0; margin-bottom: 0; margin-left: 24pt; text-indent: -12pt; }
p.ref { margin-left: 24pt; text-indent: -24pt; }
p.s { font-size: smaller; }
p.sh { font-size: smaller; }
sub { vertical-align: -2pt; font-size: xx-small; }
sup { vertical-align: 2pt; font-size: xx-small; }
table { margin-left: auto; margin-right: auto; margin-top: 0; page-break-inside: avoid; }
table.box { margin: 0; border-width: 1pt; border-style: solid; }
table.c { text-align: center; }
table.cr { text-align: center; }
table.cr td { text-align: right; }
table.data { margin: 0; border-collapse: collapse; font-size: small; }
table.data td { border-width: 1pt; border-style: solid; }
table.l { margin: 0; }
@media all {
	table.tiny { margin: 0; border-collapse: collapse; font-size: small; }
}
@media print {
	table.tiny { margin: 0; border-collapse: collapse; font-size: 4pt; }
}
table.tiny td { border-width: 1pt; border-style: solid; }
table.r { text-align: right; }
td { padding-top: 6pt; padding-bottom: 6pt; padding-left: 3pt; padding-right: 3pt; }
td.l { text-align: left; }
td.r { text-align: right; }
th { padding-top: 3pt; padding-bottom: 3pt; padding-left: 2pt; padding-right: 2pt; }
tr { page-break-before: avoid; }
tr.top th { text-align: center; }
ul { line-height: 150%; }
ul.s { font-size: smaller; }
@page { size 8.5in 11in; margin: 144pt; }
