.blurred {
  outline: none;
}
button {
  min-height: 44px;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  background-color: #f00;
}
#defMenu:focus {
  outline: none;
}
:focus:not(#defMenu), .focal {
  outline: 2px blue solid;
  outline-offset: 2px;
}
h3 {
  font-style: italic;
}
html {
  max-width: 30rem;
}
.menubar {
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem 0;
  background-color: lightgray;
}
.menubar > li {
  padding: 0.5rem;
  border: 1px solid;
  background-color: #fff;
}
.menubar li {
  list-style-type: none;
}
.menubar > li > ul {
  padding: 0.5rem 0 0 0;
}
.open {
  display: block;
}
.shut {
  display: none;
}
