.blurred {
  outline: none;
}
#defMenu:focus {
  outline: none;
}
:focus:not(#defMenu), .focal {
  outline: 2px blue solid;
  outline-offset: 2px;
}
h3 {
  font-style: italic;
}
.open {
  display: block;
}
.shut {
  display: none;
}
