.blockLink a {
  text-decoration: none;
}
.blockLink a:hover {
  text-decoration: underline;
}
button {
  min-height: 44px;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  background-color: #a00;
}
code {
  font-weight: 700;
  color: #933;
}
:focus:not(ul), .focal {
  outline: 2px #00f solid;
  outline-offset: 2px;
}
h3 {
  font-style: italic;
}
html {
  max-width: 30rem;
}
.menubar {
  min-height: 7rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  border: 2px dotted #333;
  padding: 1rem 0;
  background-color: #eee;
}
.menubar > li {
  padding: 0.5rem;
  border: 1px solid;
  background-color: #fff;
}
.menubar li {
  list-style-type: none;
}
.menubar > li > ul {
  padding: 0.5rem 0 0 0;
}
.open {
  display: block;
}
[role=banner] {
  border-top: 1px solid #000;
  font-style: italic;
}
.shut {
  display: none;
}
ul:focus {
  outline: none;
}
