blockquote { color: #000099; }
body { margin: 0.5cm; background-color: #eeeedd; }
h2 { text-align: center; color: #008b8b; }
h3 { color: #a0522d; }
p.i1 { margin-left: 0.5cm; }
p.i2 { margin-left: 1cm; }
p.i3 { margin-left: 1.5cm; }
p.i4 { margin-left: 2cm; }
p.c { text-align: center; }
p.r { text-align: right; }
p.hint { font-size: small; color: gray; }
p.this { font-weight: bold; font-size: medium; }
td.nav { vertical-align: top; min-width: 150pt; padding: 0.25cm; background-color: #ddddaa; }
td.main { vertical-align: top; padding: 0.5cm; }
th.r { text-align: right; }
table.spread th { padding-right: 24pt }
table.spread td { padding-right: 24pt }
cite { color: teal; font-style: italic; }
span.bib p { margin-left: 1cm; text-indent: -1cm }
em { font-weight: bold; font-style: normal; color: red; }
