@media all {
	body { margin: 24pt; background-color: #eeeedd; }
}
@media print {
	body { margin: 0; background-color: #ffffff; }
}
@page { size 8.5in 11in; margin: 144pt; }
h2 { text-align: center; }
h3 { text-align: center; }
p.c { text-align: center; }
p.ref { margin-left: 24pt; text-indent: -24pt; }
