blockquote { color: #000099; }
body { margin: 0.5cm; background-color: #ddddbb; font-size: large; }
em { font-weight: bold; font-style: normal; color: #990099; }
noem { font-weight: bold; font-style: normal; color: #cc0099; }
h2 { margin-top: 0; text-align: center; color: #008b8b; }
h3 { color: #a0522d; }
h3.c { text-align: center; }
p.i1 { margin-left: 0.5cm; }
p.i2 { margin-left: 1cm; }
p.i3 { margin-left: 1.5cm; }
p.i4 { margin-left: 2cm; }
p.c { text-align: center; }
p.cap { text-align: center; font-size: small; }
p.r { text-align: right; }
p.hint { font-size: small; color: gray; }
p.this { font-weight: bold; font-size: large; color: #008b8b; }
span.add { font-weight: bold; font-style: italic; color: green; }
span.for { font-family: sans-serif; }
span.sub { font-weight: bold; font-style: italic; color: red; text-decoration: line-through; }
table { border-collapse: collapse; }
table.big td { border-style: ridge; border-width: thick; }
table.c { text-align: center; }
table.list { font-size: medium; }
table.small td { border-style: ridge; border-width: thick; font-size: medium; }
table.spread th { padding-right: 24pt }
table.spread td { padding-right: 24pt }
table.tight p { margin-top: 0; margin-bottom: 0; }
table.tight td { padding: 2pt; }
table.zero p { margin-top: 0; margin-bottom: 0; }
table.zero td { padding: 0pt; }
td { padding: 8pt; }
td.c { text-align: center; }
td.nav { vertical-align: top; min-width: 102pt; padding: 8pt; font-size: medium; background-color: #ccccaa; }
td.main { vertical-align: top; padding: 0.5cm; }
td.r { text-align: right; }
th { padding-left: 8pt; padding-right: 8pt; }
th.r { text-align: right; }
ul { margin-top: 0; margin-bottom: 0; }
cite { color: teal; font-style: italic; }
span.bib p { margin-left: 1cm; text-indent: -1cm }
