.caption {
   text-align: center;
}
caption, .caption {
   padding-bottom: 0.5rem;
}
.header {
   text-align: center;
   font-weight: 700;
}
.integer {
   text-align: right;
}
table {
   border-collapse: collapse;
}
td:not(.caption), th {
   padding: 0 1rem 0.2rem 1rem;
   border: 1px solid;
}
